body {
    padding: 100px;
    font-family: 'Inconsolata', monospace;
    font-size: 21px;
    width: 650px;
}

h1 {
    display: inline;
    font-size: 67px;
    margin-left: 20px;
    position: relative;
    bottom: 12px;
}

.secondary {
    color: #bbb;
}

a.secondary:hover {
    color: #000;
}

ul {
    margin-top: 5px;
}

p {
    margin: 20px 0 0 0;
}

footer {
    color: #bbb;
    width: 600px;
    margin-top: 50px;
}

.images {
    width: 600px;
    height: 772px;
    margin-top: 50px;
    margin-left: -10px;
    border: 10px solid #000;
}

.images img {
    width: 100%;
}

.screens {
    border-top: 1px solid #000;
    margin-top: 30px;
}

.previews {
    margin-top: 20px;
}

.previews img {
    width: 50px;
    border: 2px solid #000;
    cursor: pointer;
}

.download {
    margin-top: 50px;
}

.download a {
    margin-right: 20px;
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border: 5px solid #fff;
}

.download a:hover {
    background-color: #fff;
    color: #000;
    border: 5px solid #000;
}

.blog-link {
    color: #bbb;
    top: 220px;
    left: 800px;
    position: absolute;
}

.blog-link a {
    color: #bbb;
}

.blog-link a:hover {
    color: #000;
}

.screen-label {
    position: absolute;
    padding: 10px;
    color: #fff;
    margin-top: 15px;
    background-color: #000;
}
