body {
    padding: 100px;
    font-family: 'Inconsolata', monospace;
    font-size: 21px;
    width: 650px;
}

h1 {
    display: inline;
    font-size: 67px;
    margin-left: 20px;
    position: relative;
    bottom: 12px;
}

a.dist {
    color: #0000ee;
}

a.dist:hover {
    color: #000;
}

.secondary {
    color: #bbb;
}

a.secondary:hover {
    color: #000;
}

ul {
    margin-top: 5px;
}

p {
    margin: 20px 0 0 0;
}

footer {
    color: #bbb;
    width: 600px;
    margin-top: 50px;
}

.images {
    width: 600px;
    height: 772px;
    margin-top: 50px;
    margin-left: -10px;
    border: 10px solid black;
}

.images img {
    width: 100%;
}

.screens {
    position: relative;
}

.next {
    position: absolute;
    left: 630px;
    font-size: 60px;
    cursor: pointer;
}
